html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* CSS ENCABEZADO */

header {
  display: inline-block;
  padding: 3em;
  width: 100%;
  box-sizing: border-box;
  background-color: #d8dfe8;
}

.logo {
  position: absolute;
  top: 3%;
  box-sizing: border-box;
}

header h1 {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 100%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;

  animation-name: myAnimation;
  animation-duration: 3s;
  animation-iteration-count: initial;
  animation-direction: alternate;
  color: rgb(170, 0, 255);
}

@keyframes myAnimation {
  0% {
    color: rgb(0, 0, 0);
    transform: translateX(0);
  }
  50% {
    color: rgb(133, 88, 152);
    transform: translateX(0);
  }
  100% {
    color: rgb(170, 0, 255);
    transform: translateX(0);
  }
}

/* CSS CUERPO-PAGINA */

main {
  flex: 1;
  background-color: #d8dfe8;
}

.contenido-principal {
  width: 100%;
  padding: 1% 0%;
  box-sizing: border-box;
  background-color: #d8dfe8;
  display: grid;
  grid-template-columns: 5% 50% 20% 5%;
  grid-gap: 7%;
}

.ejecutar {
  box-sizing: border-box;
  vertical-align: top;
  grid-row: 1;
  grid-column: 2;
}

.ejecutar textarea {
  width: 90%;
  box-sizing: border-box;
  font-size: 30px;
  border-radius: 24px;
  border: none;
  outline: none;
  color: rgb(170, 0, 255);
  padding: 5%;
}

.ejecutar textarea::placeholder {
  padding: 0%;
  color: rgb(170, 0, 255);
}

.botones {
  padding: 0em 0 0% 0;
  text-align: left;
  width: 100%;
  display: flex;
}

.contenido-principal p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
}

.botones .encriptar {
  padding: 24px;
  background: #414141;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 40%;
  border-width: 1px;
  margin-right: 3em;
  border: solid;
  border-color: #414141;
  cursor: pointer;
}

.botones .desencriptar {
  padding: 24px;
  background: #414141;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 40%;
  border-width: 1px;
  cursor: pointer;
  border: solid;
  border-color: #414141;
}
.botones .encriptar:hover,
.botones .desencriptar:hover {
  background: #000000;
  border-color: #000000;
  transition: 0.5s;
}

.boton-copiar {
  padding: 24px;
  background: #d8dfe8;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 100%;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

.boton-copiar:hover {
  background: #414141;
  border-color: #414141;
  transition: 0.5s;
}
.ejecutado {
  box-sizing: border-box;
  padding: 10% 2% 0% 2%;
  grid-row: 1;
  grid-column: 3;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.ejecutado textarea {
  width: 100%;
  height: 87%;
  box-sizing: border-box;
  font-size: 23px;
  border: none;
  border-radius: 10px;
}

.ejecutado textarea:focus {
  outline: none;
}

/* CSS PIE DE PAGINA */

footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #8f69b3;
  color: #ffffff;
}

footer img {
  width: 50px;

  /* para mejorar el rendimiento de la pagina tengo que recortar 
las dimenciones de las images al tamaño que usare, lo tendre pendiente para
proximos proyectos*/
}
