/* CSS ENCABEZADO */

header {
  display: inline-block;
  padding: 3em;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 3%;
  box-sizing: border-box;
}

header h1 {
  position: absolute;
  top: 5%;
  right: 0%;
  width: 100%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}

/* CSS CUERPO-PAGINA */

.contenido-principal {
  width: 100%;
  padding: 1% 15%;
  box-sizing: border-box;
  background-color: #d8dfe8;
  
}

.ejecutar {
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
  vertical-align: top;
}

.ejecutar textarea {
  width: 90%;
  box-sizing: border-box;
  font-size: 30px;
  border-radius: 24px;
  border: none;
  outline: none;
  color: rgb(170, 0, 255);
  padding: 5%;
}

.ejecutar textarea::placeholder {
  padding: 0%;
  color: rgb(170, 0, 255);
}

.botones {
  padding: 0em 0 0% 0;
  text-align: left;
  width: 100%;

  
}

.botones p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  
}

.botones .encriptar {
  padding: 24px;
  background: #000000;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 40%;
  border-width: 1px;
  margin-right: 3em;

}



.botones .desencriptar {
  padding: 24px;
  background: #414141;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 40%;
  border-width: 1px;

 
}

.boton-copiar {
  
  padding: 24px;
  background: #d8dfe8;
  color: rgb(170, 0, 255);
  font-size: 18px;
  border-radius: 24px;
  width: 100%;
  border-width: 1px;
  text-align: center;

}

.ejecutado {
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  position: absolute;
  padding: 1% 2% 2% 2%;

  /* White */

  background: #ffffff;
  /* shadow */

  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.ejecutado textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 23px;
  border: none;
}

.ejecutado textarea:focus {
  outline: none;
}

/* CSS PIE DE PAGINA */

footer {
  text-align: center;
}

footer img {
  width: 40px;

  /* para mejorar el rendimiento de la pagina tengo que recortar 
las dimenciones de las images al tamaño que usare, lo tendre pendiente para
proximos proyectos*/
}
